:root {
    /* Primary */
    --main-background-color: hsl(233, 47%, 7%);
    --card-background-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);

    /* Neutral */
    --main-heading-color: hsl(0, 0%, 100%);
    --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
    --stat-heading-color: hsla(0, 0%, 100%, 0.6);
}

html {
    box-sizing: border-box;
    margin: 0 auto; 
}

body {
    background-color: var(--main-background-color);
}